<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="height: 250px; width: 150px">
        <img src="assets\Sugar.webp" class="card-img-top" alt="sugar">
        <div class="card-body">
          <h5 class="card-title">Sugar</h5>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="height: 250px; width: 150px">
        <img src="assets\rice.jpg" class="card-img-top" alt="Rice">
        <div class="card-body">
          <h5 class="card-title">Rice</h5>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    
    <div class="col">
        <div class="card" style="height: 250px; width: 150px">
          <img src="assets\Milk1.jpg" class="card-img-top" alt="Milk">
          <div class="card-body">
            <h5 class="card-title">Milk</h5>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 250px; width: 150px">
          <img src="assets\Dal.jpg" class="card-img-top" alt="Dal">
          <div class="card-body">
            <h5 class="card-title">Dal</h5>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 250px; width: 150px">
          <img src="assets\chilli.jpg" class="card-img-top" alt="Chilli Powder">
          <div class="card-body" style="height: 350px; width: 150px">
            <h5 class="card-title">Chilli Powder</h5>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 300px; width: 150px">
          <img src="assets\termaric.jpg" class="card-img-top" alt="Termaric">
          <div class="card-body">
            <h5 class="card-title">Termaric</h5>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>

    
  </div>

